.container {
  margin-top: 2em;
}

.error-otp {
  line-height: 3em;
  display: none;
}

.open {
  display: block !important;
}

.otp-text {
  border: 0;
  border-bottom: 2px solid #c0c0c0;
  outline: 0;
  color: #111111;
  width: 37px;
  padding: 0 5px;
  margin-right: 10px;
  text-align: center;
  font-size: 3em;
  cursor: pointer;
  will-change: border;
  transition: border 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.otp-text[type="number"]::-webkit-inner-spin-button,
.otp-text[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  margin: 0;
}

.otp-text:focus {
  border: 0;
  border-bottom: 2px solid #ff6200;
}

.otp-text:disabled {
  background: #fff;
}

.otp-text:last-child {
  margin-right: 0;
}

.paintOrangeLine {
  border: 0;
  border-bottom: 2px solid #ff6200;
}

button {
  background: #ff6200;
  color: whiteSmoke;
  padding: 1em 2em;
  margin-top: 2em;
  border: 0;
  width: 100%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
}

button:hover {
  opacity: 0.8;
}

.otp-h {
  font-size: 1.4em;
}
